body{
	background-color: #F0F0F0;
	text-align: center;
}

.headings{
	display: inline-block;
    font-weight: bold; /*this doesn't work. make it work*/
    color: #ff9999;
    font-size: 24px;
    font-family: 'Archivo Narrow', sans-serif;
}

#logo{
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
    color: #ff6699;
    font-family: 'Montserrat', sans-serif;
}

.graph_specific{
	width: auto;
	height: auto;
}

.graphs{
    display: inline-block;
    margin: auto;
}
.button-graph {
    width:auto;
    height: auto;
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    margin: 10px;
}

#button{
	padding: 5px 10px 5px 10px;
	background-color: #ff6699;
	color: white;
}

.text{
    margin: 30px;
}