<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!--TITLE=================================================================-->
		<title>YouTube Search Tool</title>

		<!--CSS===================================================================-->
		<!-- Latest compiled and minified CSS -->
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700|Archivo+Narrow:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

		<!--JAVASCRIPT============================================================-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"</script>
		<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
	</head>
	<body>
		<div class="row" id="logo">YouTube Search Tool</div>
		{% block body %}{% endblock %}
		<!-- <script type="text/javascript" src="index.js"></script> -->
	</body>
	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"</script>-->
</html>